<!DOCTYPE html>
<html>
<head>
    
    <meta name="theme-color" content="#1f4d1f">

    <!-- Icone personalizzate -->
    <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='icon-32.png') }}">
    <link rel="icon" type="image/png" sizes="192x192" href="{{ url_for('static', filename='icon-192.png') }}">
    <link rel="apple-touch-icon" sizes="512x512" href="{{ url_for('static', filename='icon-512.png') }}">


    <style>
        body {
            background: #1f4d1f;
            color: white;
            font-family: Arial;
            margin: 0;
            padding: 10px;
        }

        h2 {
            text-align: center;
            font-size: 20px;
            margin-bottom: 10px;
        }

        .text {
            font-size: 16px;
            line-height: 1.4;
        }
    </style>
</head>

<body>

<h2>Contatti</h2>

<p class="text">
📞 Telefono: <b>333 1234567</b><br>
📧 Email: <b>alpini@schilpario.it</b><br>
🌐 Sito: <b>www.alpinischilpario.it</b>
</p>

</body>
</html>