<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Icone personalizzate -->
    <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='icon-32.png') }}">
    <link rel="icon" type="image/png" sizes="192x192" href="{{ url_for('static', filename='icon-192.png') }}">
    <link rel="apple-touch-icon" sizes="512x512" href="{{ url_for('static', filename='icon-512.png') }}">
    <meta name="theme-color" content="#1f4d1f">



    <style>
        body {
            background: #1f4d1f;
            color: white;
            font-family: Arial;
            margin: 0;
            padding: 10px;
        }

        h2 {
            text-align: center;
            font-size: 20px;
            margin-bottom: 10px;
        }

        .text {
            font-size: 16px;
            line-height: 1.4;
            white-space: pre-line; /* mantiene gli a capo del file txt */
        }
    </style>
</head>

<body>

<h2>Info Festa</h2>

<p class="text">
    {{ testo }}
</p>

</body>
</html>