{% extends "base.html" %}

{% block title %}Menu{% endblock %}

{% block content %}
<h2>Menu</h2>
<form method="POST">
    <label>Nome cliente:</label><br>
    <input type="text" name="cliente" required><br><br>

    <label>Tavolo:</label><br>
    <input type="text" name="tavolo" required><br><br>

    <label>Coperti:</label><br>
    <input type="number" name="coperti" min="1" required><br><br>

    <h3>Piatti disponibili</h3>
    {% for item in menu %}
        <label>{{ item.nome }} ({{ item.prezzo }} €)</label>
        <input type="number" name="{{ item.nome }}" min="0" value="0"><br>
    {% endfor %}

    <br>
    <button type="submit">Invia ordine</button>
</form>
{% endblock %}